In [1]:
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
testresults = pd.read_csv('../data/English_Language_Arts__ELA__Test_Results_2006-2012_-_District_-_All_Students_20240416.csv')

In [3]:
testresults.head()

,District,Grade,Year,Demographic,Number Tested,Mean Scale Score,Num Level 1,Pct Level 1,Num Level 2,Pct Level 2,Num Level 3,Pct Level 3,Num Level 4,Pct Level 4,Num Level 3 and 4,Pct Level 3 and 4
0,1,3,2006,All Students,808,663,89,11.0,215,26.6,462,57.2,42,5.2,504,62.4
1,1,3,2007,All Students,826,659,94,11.4,242,29.3,427,51.7,63,7.6,490,59.3
2,1,3,2008,All Students,852,662,60,7.0,270,31.7,449,52.7,73,8.6,522,61.3
3,1,3,2009,All Students,901,667,45,5.0,221,24.5,553,61.4,82,9.1,635,70.5
4,1,3,2010,All Students,848,669,137,16.2,276,32.5,272,32.1,163,19.2,435,51.3